node_modules/
dist/
build/
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.jks
*.jks.txt
*.keystore

backend/target/
frontend/android/
frontend/ios/
frontend/.capacitor/

.env
.env.*
!**/.env.example
!.env.prod.example
